 <footer>
                <div class="footer-container">
                    <div class="informations">
                        <h1 class="footer-title">Contacts</h1>
                        <div class="informations-content">
                            <div class="phone-email">
                                <div class="phone footer-title">
                                    <h1 class="footer-title">PHONE</h1>
                                    <h1 class="number footer-text">+ 212 615 939
                                        931</h1>
                                    <h1 class="number footer-text">+ 212 612 462
                                        982</h1>
                                </div>
                                <div class="email footer-title">
                                    <h1 class="footer-title">EMAIL</h1>
                                    <h1
                                        class="number footer-text">info@DriveRent</h1>

                                </div>
                            </div>
                            <div class="address footer-title">
                                <h1 class="footer-title">ADDRESS</h1>
                                <h1 class="number footer-bold-text">SAFI
                                    Yocode</h1>
                                <h1 class="number footer-text">Avenue sidi
                                    Mohamed
                                    Ben
                                    Abdellah</h1>
                                <h1 class="number footer-text">00123 safi</h1>
                                <h1 class="number footer-text">N 21323</h1>
                            </div>
                        </div>

                        <div class="whatsapp-button">
                            <h1 class="whatsaapp-text">WhatsApp</h1>
                        </div>
                    </div>
                    <div class="navigation-footer">
                        <h1 class="footer-title">Navigation</h1>
                        <div class="navigation-pages">
                            <div class="left-side-navigation-pages">
                                <div class="page-title">Features</div>
                                <div class="page-title">Prices</div>
                                <div class="page-title">Contacts</div>
                                <div class="page-title">Payment methods</div>
                            </div>
                            <div class="right-side-navigation-pages">
                                <div class="page-title">Updates</div>
                                <div class="page-title">About company</div>
                                <div class="page-title">About Us</div>
                                <div class="page-title">Privacy Policy</div>
                            </div>
                        </div>

                        <div class="footer-icons">
                            <div class="facebook-icon"></div>
                        </div>
                    </div>
                    <div class="footer-about">
                        <div class="footer-title">About</div>
                        <div class="footer-text ">
                            DriveRent is a modern car rental system that makes
                            booking and managing vehicles fast and easy.
                            Designed
                            for both users and fleet owners, it offers a
                            seamless,
                            reliable rental experience.
                        </div>

                        <div class="footer-image">
                            <img src="assets/images/map.png"
                                class="footer-image" alt="our location">
                        </div>
                    </div>
                </div>
                <div class="copy-rights">© DriveRent 2025 - All rights
                    reserved</div>
            </footer>